@use '../../abstracts/variables' as v;
@use '../../abstracts/mixins' as m;

.headquarters {

  &__title {
    color: v.$color-gray;
    text-align: center;
    margin-bottom: 4rem;
  }

  &__grid {
    @include m.grid( 1, 1fr, 2.4rem );
  }

}

.headquarter {
  
  margin-bottom: 2rem;

  &:last-of-type {
    margin-bottom: 0;
  }

  &__title {
    margin-bottom: 2rem;
  }

  &__text {
    text-align: center;
  }

}