*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  width: 120rem;
  max-width: 95%;
  margin-inline: auto;
}

a {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

ul, ol {
  list-style: none;
  padding: 0;
}

button {
  background-color: none;
  border: none;
  cursor: pointer;
}


