// Colors
$color-blue: #0E8784;
$color-black: #333D4B;
$color-cream: #FDD6BA;
$color-cream-2: #F4F1EB;
$color-light: #FEFCF7;
$color-gray: #83888F; 
$color-hover: #66D2CF;
$color-disabled: #E2DEDB;

// Fonts
$font-family-heading: 'Fraunces', serif;
$font-family-text: 'Barlow', sans-serif;